{%extends 'Template.html'%}
{%block title%}

{%endblock%}

{%block content%}
<style>
	  .card-dash {
        border-radius: 10px;
        display: table;
        position: relative;
        margin: 10px;
        padding: 10px;
        width: 100%;
    }

    .card-dash-title {
        font-weight: bold;
        border: 5px;
        padding: 10px;
    }
    @keyframes glitch-1 {
      0% {
        clip: rect(132px, 480px, 101px, 30px);
      }
      5% {
        clip: rect(17px, 480px, 94px, 30px);
      }
      10% {
        clip: rect(40px, 480px, 66px, 30px);
      }
      15% {
        clip: rect(87px, 480px, 82px, 30px);
      }
      20% {
        clip: rect(137px, 480px, 61px, 30px);
      }
      25% {
        clip: rect(34px, 480px, 14px, 30px);
      }
      30% {
        clip: rect(133px, 480px, 74px, 30px);
      }
      35% {
        clip: rect(76px, 480px, 107px, 30px);
      }
      40% {
        clip: rect(59px, 480px, 130px, 30px);
      }
      45% {
        clip: rect(29px, 480px, 84px, 30px);
      }
      50% {
        clip: rect(22px, 480px, 67px, 30px);
      }
      55% {
        clip: rect(67px, 480px, 62px, 30px);
      }
      60% {
        clip: rect(10px, 480px, 105px, 30px);
      }
      65% {
        clip: rect(78px, 480px, 115px, 30px);
      }
      70% {
        clip: rect(105px, 480px, 13px, 30px);
      }
      75% {
        clip: rect(15px, 480px, 75px, 30px);
      }
      80% {
        clip: rect(66px, 480px, 39px, 30px);
      }
      85% {
        clip: rect(133px, 480px, 73px, 30px);
      }
      90% {
        clip: rect(36px, 480px, 128px, 30px);
      }
      95% {
        clip: rect(68px, 480px, 103px, 30px);
      }
      100% {
        clip: rect(14px, 480px, 100px, 30px);
      }
    }
    @keyframes glitch-2 {
      0% {
        clip: rect(129px, 480px, 36px, 30px);
      }
      5% {
        clip: rect(36px, 480px, 4px, 30px);
      }
      10% {
        clip: rect(85px, 480px, 66px, 30px);
      }
      15% {
        clip: rect(91px, 480px, 91px, 30px);
      }
      20% {
        clip: rect(148px, 480px, 138px, 30px);
      }
      25% {
        clip: rect(38px, 480px, 122px, 30px);
      }
      30% {
        clip: rect(69px, 480px, 54px, 30px);
      }
      35% {
        clip: rect(98px, 480px, 71px, 30px);
      }
      40% {
        clip: rect(146px, 480px, 34px, 30px);
      }
      45% {
        clip: rect(134px, 480px, 43px, 30px);
      }
      50% {
        clip: rect(102px, 480px, 80px, 30px);
      }
      55% {
        clip: rect(119px, 480px, 44px, 30px);
      }
      60% {
        clip: rect(106px, 480px, 99px, 30px);
      }
      65% {
        clip: rect(141px, 480px, 74px, 30px);
      }
      70% {
        clip: rect(20px, 480px, 78px, 30px);
      }
      75% {
        clip: rect(133px, 480px, 79px, 30px);
      }
      80% {
        clip: rect(78px, 480px, 52px, 30px);
      }
      85% {
        clip: rect(35px, 480px, 39px, 30px);
      }
      90% {
        clip: rect(67px, 480px, 70px, 30px);
      }
      95% {
        clip: rect(71px, 480px, 103px, 30px);
      }
      100% {
        clip: rect(83px, 480px, 40px, 30px);
      }
    }
  </style>
<div class = "card-panel" >
  <div class="glitch">
      <h8  class="text" data-text="YOU'RE BEING WATCHED" style="font-size:90%;color:#000000">YOU'RE BEING WATCHED</h8>
    </div>
  <div class="card-content" style = "margin: 20px">
  <h4 style="color:#1CE764;text-decoration: underline;font-family:Anton-Regular;font-size:130">Founded by</h4>  
	<span style="color:#ffff1a;font-family:Anton-Regular"> This bank was created by Mr.Anantha Krishnan and G.Dinesh Kumar who together have created this website for easy access to people and a step ahead in banking projects.
		<br>
		<br>
		<br>
	<span style="font-weight: bold;color:#1CE764;text-decoration: underline;font-family:Anton-Regular;font-size:130%">INSTRUCTIONS:</span>
	<br>
	<br>	
	Your credit card will be delivered to you through our franchise 
	<br>
	<br>

	⇨If there`s any delay in our service or any problems facing in transactions , Feel free to contact the admins with the given info below.
    <br>
<br>
<br>
	⇨If your Card gets lost/stolen/mugged , Please contact our Response Team who will patch you with a new card and info with same balance but you should also file a Complaint to your district`s police precinct.
	    <br>
	    <br>
	    <br>
	  <span style="font-weight: bold;color:#1CE764;text-decoration: underline;font-family:Anton-Regular;font-size:130%">NEW USERS:</span>
	  <br>
	  1. You will be recieving your brand new credit card within a week after ordering 
	  <br>
	  2. Your card will be having a capacity upto Rs.45000
	  <br>
	  3. Your account has been saved in our database and any deley in the returning of credits will cause the user to be penalized and a slight decrease in credit score.
	  <br>
      4. You can regain your credits in a monthly basis
      <br>
      5. Enjoy our service :)
	We thank you so much for using our website
	and will look forward to continue our service to people around the world !!
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<span style="font-weight: bold;color:#1CE764;text-decoration: underline;font-family:Anton-Regular;font-size:130%">For enquiries:-</span>
           <br>
<span style="font-weight: bold;color:#1CE764;font-family:Anton-Regular;font-size:130%">
           Manager</span>: <span style="color:#ffff1a">9238234098</span>
           <br>
<span style="font-weight: bold;color:#1CE764;font-family:Anton-Regular;font-size:130%">
           Ass.Manager</span>: <span style="color:#ffff1a"> 9798343827</span>
  </div>
<style>
	.card-panel{
		background-image: linear-gradient(to bottom right,#000000, #414342) ;
		margin:20px;
		padding-top: 30px;
</style>
</div>
{%endblock%}