{%extends 'Template.html'%}
{%block title%}
Home
{%endblock%}

{%block content%}
<script>
	$(document).ready(function(){
		$('.carousel').carousel();
	});	
	
</script>
<style>
.bum {
  background-position: center;
  background-size: cover;
  min-height: 100%;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://images5.alphacoders.com/423/thumb-1920-423529.jpg">
        <div class="caption center-align">
          
          <h3 style="color:#ff0000;margin-left:5%;font-size:60px; font-family:PressStart2P-Regular;">WELCOME!</h3>
          <h5 class="light grey-text text-lighten-3"><span style="color:#ff0000;font-family:PressStart2P-Regular">To Bcryptic</span></h5>
        </div>
      </li>
      <li>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRe9B3WmkR0PQG8qI9tWzsG0HQg72YyZ2g37A&usqp=CAU"> 
        <div class="caption left-align">
          <h3><span style="color:#9999ff;font-weight:bold">Modern</h3></span>
          <h5 class="light grey-text text-lighten-3"><span style="color:#9999ff;font-weight:bold">futuristic</h5></span>
        </div>
      </li>
      <li>
        <img src="https://i.pinimg.com/originals/c6/d7/65/c6d765890bab5cc11fc19edfe41dc577.jpg"> 
        <div class="caption right-align">
          <h3><span style="font-weight:bold;color:#ffff00">Crypto</h3></span>
          <h5 class="light grey-text text-lighten-3"><span style="font-weight:bold;color:#ffff00;font-size:90%">Afraid of change?<br>Leave it here.</h5></span>
        </div>
      </li>
      <li>
        <img src="https://www.accenture.com/t20190321T055915Z__w__/us-en/_acnmedia/Accenture/next-gen-3/operations-incident-response/images/Accenture-Operations-Incident-Marquee-v2.jpg"> 
        <div class="caption center-align">
          <h3><span style="font-weight:bold;color:#53ff1a">Secure</h3>
          <h5 class="light grey-text text-lighten-3"><span style="font-weight:bold;color:#53ff1a">Your money is safe... <br> with us :</h5>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <div class = "row">
    <div class = "col m3 s12">
  <div class = "card-panel" style="background-color:#ff0000 ">
    <div class = "card-content">
      <span class  = "card-title" style="font-weight:bold;font-size:120%">WELCOME</span>
      <hr>
      <p><span style="font-weight:bold">Welcome to this bank of a 200 year reputation in banking, <br>Its our pleasure servicing you :)</p></span>
    </div>
  </div>
</div>
<div class = "col m3 s12">
  <div class = "card-panel" style ="background-color:#9999ff">
    <div class = "card-content">
      <span class  = "card-title" style="font-weight:bold;font-size:120%">MODERN</span>
      <hr>
      <p><span style="font-weight:bold">Our System is so Modern that Zoomers are called Boomers <br> Experience future in the present!</p></span>
    </div>
  </div>
</div>
<div class = "col m3 s12">
  <div class = "card-panel" style ="background-color:#ffff00">
    <div class = "card-content">
      <span class  = "card-title" style="font-weight:bold;font-size:120%">CRYPTO</span>
      <hr>
      <p><span style="font-weight:bold">Why do you need money in your Spunk <br> when you have a digital bank <br> GO CRYPTO!</p></span>
    </div>
  </div>
</div>
<div class = "col m3 s12">
  <div class = "card-panel" style ="background-color:#53ff1a">
    <div class = "card-content">
      <span class  = "card-title" style="font-weight:bold;font-size:120%">SECURE</span>
      <hr>
      <p><span style="font-weight:bold">Our Bank is so safe that <br>not even the Government dare to hack </p></span>
    </div>
  </div>
</div>
</div>
<br>
<br>

<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://www.cryptocurrencykb.com/wp-content/uploads/2019/05/Cryptocurrency-Wallpaper-11.jpg">
      <div class="caption center-align">
        
        <h3 style="color:#ff0000;margin-left:4%;font-size:60px; font-family:PressStart2P-Regular;">Experience </h3>
        <h5 class="light grey-text text-lighten-3"><span style="color:#ff0000;font-family:PressStart2P-Regular">The Most</span></h5>
      </div>
    </li>
    <li>
      <img src="https://cdn.hipwallpaper.com/i/39/73/6mVEKW.jpg"> 
      <div class="caption left-align">
        <h3><span style="color:#ffff00;font-weight:bold">Invest</h3></span>
        <h5 class="light grey-text text-lighten-3"><span style="color:#ffff00;font-weight:bold">You will see the magic</h5></span>
      </div>
    </li>
    <li>
      <img src="https://www.teahub.io/photos/full/344-3443809_background-crypto-ico-background.jpg"> 
      <div class="caption right-align">
        <h3><span style="font-weight:bold;color:#ffff00">Connect and Digitize</h3></span>
        <h5 class="light grey-text text-lighten-3"><span style="font-weight:bold;color:#ffff00;font-size:90%">Inspire others</h5></span>
      </div>
    </li>
    <li>
      <img src="https://images.unsplash.com/photo-1582266255765-fa5cf1a1d501?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"> 
      <div class="caption center-align">
        <h3><span style="font-weight:bold;color:#53ff1a">Value</h3>
        <h5 class="light grey-text text-lighten-3"><span style="font-weight:bold;color:#53ff1a">what you see</h5>
      </div>
    </li>
  </ul>
</div>
<br>
<br>
<br>
<script>
   $(document).ready(function(){
  $('.slider').slider();
});
  </script>
{%endblock%}